<form #formRef="ngForm">

  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel"/>
    {{ 170 - nameRef.value?.length }} / 170
  </div>

  <div class="form-group">
    <label>Favourite</label>
    <input type="checkbox" [ngModel]="playlist.favourite" name="favourite" />
  </div>

  <div class="form-group">
    <label>Color</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>

  <input type="button" value="Cancel" (click)="cancel.emit()" />

  <input type="button" value="Save" (click)="savePlaylist(formRef.value)" />
</form>
