<!-- .row>.col*2 -->

<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlists"
      [selected]="selected"
      (selectedChange)="selected = $event"
    >
    </app-items-list>
  </div>

  <div class="col">
    <app-playlist-details
      *ngIf="mode == 'show' && selected"
      [playlist]="selected"
      (edit)="edit()"
    >
    </app-playlist-details>

    <app-playlist-form
      *ngIf="mode == 'edit' && selected"
      [playlist]="selected"
      (cancel)="cancel()"
      (save)="save($event)"
    ></app-playlist-form>

    <p *ngIf="!selected">Please select playlist</p>
  </div>
</div>
