<div>
  <img [src]="album.images[0].url" class="card-img-top" />

  <div class="card-body">
    <h5 class="card-title">
      {{ album.name }}
    </h5>
  </div>
  
</div>

<!-- http://placecage.com -->
<!-- http://place-hoff.com -->
<!-- http://placekitten.com -->
