<!-- dl>(dt+dd)*3 -->

<dl [id]="playlist.id" [title]="playlist.name" [attr.data-pancakes]="123">
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Favourite</dt>
  <dd [style.font-size.px]="20">
    {{ playlist.favourite ? "Yes" : "No" }}
  </dd>

  <dt>Color:</dt>
  <!-- <dd [style.color]="playlist.color"
      [style.background-color]="playlist.color">{{ playlist.color }}</dd> -->
  <dd
    [ngStyle]="{
      color: playlist.color,
      backgroundColor: playlist.color
    }"
  >
    {{ playlist.color }}
  </dd>
</dl>

<input type="button" value="Edit" (click)="edit.emit()" />
